.body {
    background-color:#272727;
    padding-top: 200px;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
}

#tituloppal {
    text-align: center;
    font-family: 'Allura', cursive;
    color: white;
    font-size: 105px;
    margin: 20px;
}

header {
    top: 0;
    left: 0;
    background-color: #0B0A0A;
    width: 100%;
    position: fixed;
}

.boton:hover {
    color: aliceblue;
}

.contenedor1 {
    background-color: #0B0A0A;
    width: 100%;
    /* position: fixed; */
}

.contenedor2 {
    background-color: #C4C4C4;
    height: 50px;
    width: 100%;
    /* position: fixed; */
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: auto;
}

.boton {
    color: black;
    font-family: 'Italiana', serif;
    font-size: 20px;
    width: 361px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    transition-duration: 0.4s;
    text-decoration: none;
}

a{
    color: #000000;
}

.contenedor-cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    margin-bottom: 220px;
}

#carta1 {
    position: static;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: darken;
    border-radius: 5px;
    width: 25rem;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Italiana;
    color: #c9c9c9;
}
#carta2 {
    position: static;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: darken;
    border-radius: 5px;
    width: 25rem;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Italiana;
    color: #c9c9c9;
}
#carta3 {
    position: static;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: darken;
    border-radius: 5px;
    width: 25rem;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Italiana;
    color: #c9c9c9;
}

/* .contenedor-img {
    display: flex;
}

.texto {
    color: white;
    font-family: Italiana;
    size: 26px;
    text-align: justify;
}

#txt1 {
    width: 869px;
    margin-left: 49px;
    margin-right: 67px;
    margin-top: 67px;    
}

#img1 {
    margin-top: 72px;
    margin-left: 72px;
    text-align: left;
    position: relative;
}

#txt2 {
    width: 825px;
    margin-left: 72px;
    margin-right: 49px;
    margin-top: 115px;
}

#img2 {
    margin-top: 124px;
    margin-right: 67px;
    text-align: right;
}

#img3 {
    margin-top: 83px;
    margin-left: 72px;
    margin-right: 49px;
    text-align: left;
    margin-bottom: 166px;
}

#txt3 {
    width: 818px;
    margin-top: 79px;
    margin-right: 67px;
    margin-left: 10px;
}

#cont3 {
    margin-bottom: 50px;
} */

footer {
    background-color: #C4C4C4;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 220px;
    /* display: ; */
}

.contenedor3 {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.tiras {
    width: 250px;
    /* margin-right: 150px; */
    /* margin-left: 100px; */
}

#tira3 {
    /* margin-left: 31px; */
    margin-right: 20px;
}

.titulo {
    font-size: 22px;
    font-family: Italiana;
}

.texto-footer {
    font-size: 19px;
    font-family: Italiana;
}

.titulos {
    color: white;
    font-family: Italiana;
    font-size: 96px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.especialidades {
    display: flex;
}

.textospg2 {
    font-family: Italiana;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-left: 37px;
    margin-right: 116px;
}

.imgpg2 {
    text-align: left;
    margin-left: 132px;
}

#especialidad3 .imgpg2 {
    margin-bottom: 200px;
}

.contenedor-carta {
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: darken;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    margin-bottom: 200px;
    margin-top: 43px;
    padding-bottom: 5px;
    
}

.carta h3 {
    color: white;
    font-family: Italiana;
    font-size: 57px;
    margin-left: 229px;
    margin-top: 58px;
    margin-bottom: 23px;
    margin-right: 500px;
}

.linea {
    color: white;
    margin-left: 130px;
    margin-right: 745px;
}

#aclaracion {
    color: white;
    font-family: Italiana;
    font-size: 24px;
    text-align: center;
}

dl {
    color: white;
    font-family: Italiana;
    font-size: 36px;
    /* width: 1178px; */
    margin-left: 90px;
    margin-right: 90px;
}

#comidas {
    margin-bottom: 23px;
}

#bebidas {
    margin-bottom: 40px;
}

.container-reserva {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: darken;
    margin-top: 60px;
    margin-bottom: 300px;
    text-align: center;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #C4C4C4;
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 50px;
}

label {
    color: #C4C4C4;
}

input {
    background-color: #272727;
    font-size: 25px;
    font-family: 'Italiana', serif;
    color: aquamarine;
    width: 447px;
    height: 60px;
    margin-top: 51px;
    margin-bottom: 40px;
    
}

select {
    background-color: #272727;
    font-size: 30px;
    font-family: 'Italiana', serif;
    color: aquamarine;
    width: 456px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 40px;
}

option {
    background-color: #272727;
    color: #C4C4C4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    margin-top: 27px;
    margin-bottom: 10px;
    background-color: #626262;
    width: 330px;
    height: 50px;
    margin-left: 159px;
    margin-right: 159px;
    color: white;
    font-family: Italiana;
    font-size: 22px;
    border: transparent;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botoncerrar {
    width: 150px;
    margin: 20px;
}

.modal-container {
    display: flex;
    background-color: #272727;
    position:fixed;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: black;
    color: white;
    margin-top: 50px;
    height: 650px;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subtitulo {
    color: #c9c9c9;
    font-family: Italiana;
    font-size: 20px;
}

#detalle {
    color: white;
    font-family: Italiana;
    font-size: 25px;
}

label {
    font-family: Italiana;
}

.input-modal {
    background-color: #000000;
    width: 200px;
    margin-top: 20px;
}

.lblArr {
    margin-right: -105px;
}

/* .lblAb {
    /* margin-left: 100px; */


#arriba {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}

#abajo {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* margin-left: 50px; */
}

#lbl3 {
    margin-left: 70px;
}

#in3 {
    margin-left: -55px;
}

#lbl4 {
    margin-left: 50px;
    margin-right: -138px;
}

#in4 {
    margin-left: 105px;
}

@media (max-width: 600px) {

    #body {
        min-height: 2000px;
    }

    header {
        top: 0;
        left: 0;
        background-color: #0B0A0A;
        width: 100%;
        position: absolute;
    }

    #tituloppal {
        font-size: 64px;
    }

    .contenedor2 {
        height: 8.5vh;
    }
    
    .boton {
        font-size: 15px;
    }

    .contenedor-cartas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 420px;
    }

    #carta1 {
        margin-top: 20px;
        width: 20rem;
    }

    #carta2 {
        margin-top: 20px;
        width: 20rem;
    }

    #carta3 {
        margin-top: 20px;
        width: 20rem;
        margin-bottom: 20px;
    }

    footer {
        height: 400px;
    }

    .contenedor3 {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulos {
        font-size: 10vw;
        margin-top: 40px;
    }

    .contenedoresp {
        margin-bottom: 500px;
    }

    .especialidades {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgpg2 {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    #costillar {
        width: 310px;
    }

    #costillitas {
        width: 310px;
    }

    #tortilla {
        width: 310px;
    }

    .textospg2 {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
    }

    #text3 {
        margin-top: -160px;
    }

    #footeresp {
        height: 500px;
    }
    #footerres {
        height: 500px;
    }

    #titulo-carta {
        width: 80%;
        font-size: 35px;
        margin-left: 50px;
    }

    .contenedor-carta {
        margin-bottom: 500px;
    }

    .linea {
        margin-left: 10px;
        font-size: xx-small;
    }

    #aclaracion {
        font-size: medium;
        margin: 10px;
    }

    #comidas {
        margin-top: 20px;
        font-size: medium;
        margin-left: 10px;
        margin-right: 10px;
    }

    #bebidas {
        margin-top: 20px;
        font-size: small;
        margin-left: 10px;
        margin-right: 0px;
    }

    .container-reserva {
        width: 370px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 500px;
    }

    #title {
        font-size: 35px;
    }

    input {
        width: 250px;
    }

    select {
        width: 250px;
    }

    .modal {
        width: 68%;
        height: 1000px;
    }

    #titlemodal {
        font-size: 40px;
    }

    #formulario_modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #arriba {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #abajo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #in3 {
        margin-left: 0px;
    }

    #in4 {
        margin-left: 0px;
    }

    #lbl1 {
        margin-right: 150px;
    }
    #lbl2 {
        margin-right: 150px;
    }
    #lbl3 {
        margin-right: 220px;
    }
    #lbl4 {
        margin-right: 220px;
    }



}